<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Student Login</title>

    <link rel="stylesheet"
          href="/css/login.css">

</head>

<body>

<div class="login-container">

    <form class="login-form"
          action="/login"
          method="post">

        <h1>Student Login</h1>
		
		<p th:if="${param.error}"
		   class="error">

		   Invalid Email or Password

		</p>

        <input type="email"
               name="username"
               placeholder="Enter Email">

        <input type="password"
               name="password"
               placeholder="Enter Password">

        <button type="submit">
            LOGIN
        </button>

        <a href="/register-page">
            Create New Account
        </a>

    </form>

</div>

</body>

</html>